/*Index Page*/

* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  align-items: start;
  padding: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgb(106, 90, 205);
  height: 4vh;
}
body {
  background-image: url("Img/water-img.jpg");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: aqua;
}
.footer-page {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* Contact Page */
input,
label {
  display: block;
  padding: 2px;
}

.textarea {
  display: flex;
}
button {
  margin-top: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 400px;

  /*display: grid;
  place-items: center;*/
}
form {
  background-color: white;
  border: 2px solid#444;
  padding: 2vh;
}
.About-Me {
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 8px;
  border: 2px solid #444;
}
