/*Index Page*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  align-items: start;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background-image: url("Img/water-img.jpg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: aqua;
}
.footer-page {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.About-Me {
  background-color: white;
}
.I-know {
  background-color: white;
}
/* Contact Page */
input,
label {
  display: block;
}

.textarea {
  display: flex;
}
button {
  margin-top: 10px;
}
.form {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  /*display: grid;
  place-items: center;*/
}
form {
  background-color: white;
}
